#content{
}

body{
	padding-top: 50px;
	font-family: "Roboto";
}

#content nav a, h1, h2, h3, h4, h5, h6{
	font-family: "Roboto Slab";
}

#home{
	overflow: hidden;
}

#landing{
	background-repeat: no-repeat;
	background-position: center center;
	height: 600px;
}

#body{
}

#about{
}

#about .img-thumbnail{
	margin-bottom: 30px;
}

#quote{

}

#content nav a{
	color: #FFF;
	background: #125935;
}

#content nav{
	background: none;
	border: none;
}

#content nav .active a{
	background: #287e50
}


#nav-container{
	border-color: #003418;
	margin: 0 auto 0 auto;
	font-size: 2.5em;
}

#quote-form .control-label{
	text-align: left;
}

.block > .row {
	padding: 50px 0 50px 0;
}

.text-body{
	padding: 30px 10px 10px 20px;
	border-radius: 5px;
	text-align: left;
}

.center-img{
	margin: 0 auto;
}

.social-media{
	margin: 50px 30px;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

#content nav .navbar-nav, #content nav .navbar-nav>li{
	float: none;
}
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#nav-container{
	}
}